<table>
<tr>
{% for key in csv_data.list[0].keys()%}
<th>{{key}}</th>
{% endfor %}
</tr>

{% for dict_item in csv_data.list %}
<tr>
    {% for key, value in dict_item.items() %}
    <td>{{value}}</td>
    {% endfor %}
</tr>
{% endfor %}
</table>